<h1>Staffs#create</h1>
<p>Find me in app/views/staffs/create.html.erb</p>

<form method="POST" action="/create" class = "staff-create">

	<input type = "string" name = "fname" placeholder = "fname">
	<input type = "string" name = "lname" placeholder = "lname">
	<input type = "email" name = "email" placeholder = "email">
	<input type = "password" name = "password" placeholder = "password">
	<input type = "text" name = "job_title" placeholder = "job_title">
	
	<input type="submit">
</form>