
<!-- This is the title for the section. -->
<h1 class="topic-page-heading"><%= content_tag :div, @topic.category, class: "topic-category"%></h1>

<!-- Loop through this @topic's eight most recent articles -->

<% @revelant_articles.last(8).reverse.each do |a| %>

	<%= content_tag :div, class: "topic-article" do -%>
		<h2><%=link_to((Article.find(a.article_id).title), (article_path(a.article_id))) %></h2>
		<div class="topics-photo"><%=link_to(image_tag((Article.find(a.article_id).image_url)), (article_path(a.article_id))) %></div>

	<% end %>
<br>
<% end %>

