<h1>NYCDA NEWS Subscribers</h1>


List of subscribers with onlines feedback accounts.
<br>
<br>
<% @subscribers.each do |x| %>
<%= x.fname[0]%>. <%= x.lname%>, <%= x.city%>, <%= x.state%> <br>
<%end%>

