body {
	font-family: helvetica;
}
.body {
	background-color: #525564;
}
#logo {
	margin-left: 10px;
	/*border: 2px solid black;*/
	width: 25%;
	padding-top: 7px;
}
header {
	background-color: #ffffff;
	height: 110px;
	/*background-color: #96C0CE;*/

}
nav {
	float: right;
	margin-right: 25px;
}
.topics_nav {
	border: 2px solid #525564;
	float: right;
	list-style-type: none;
	text-transform: uppercase;
	margin: 8px;
	margin-top: 82px;
	font-size: 14px;
	letter-spacing: 0.15em;
	font-size: 1.1em;
	font-weight: bold;
	background-color: #525564;
	padding: 2px 6px;
}

a:link, a:visited { 
	color: #96C0CE;
	text-decoration: none;
}
a:hover {
	color: #ffffff;
}
.user_login, .user_logout {
	list-style-type: none;
	text-transform: uppercase;
	font-size: 0.8em;
}
#sign_in_form {
	background-color: #FEF6EB;
	margin-top: 2px;
}
#join_today {
	width: 40%;
	float: left;
}
.body {
	background-color: #525564;
}
.container {
	background-color: #525564;
	padding: 10px;
	height: 100%;
}
.footer {
	clear: both;
	height: 100px;
	background-color: #96C0CE;
}
.form {
	text-align: right;
	padding: 4px;
}
#sign_up_form {
	border: 2px solid black;
	width: 25%;
	font-size: 1em;
	text-transform: uppercase;
	background-color: #FEF6EB;
	color: #525564;
	float: left;
}
.button {
	color: #C25B56;
}

/*artiles index*/

.main_article {
	border: 2px solid black;
	float: left;
	width: 75%;
	margin-top: 20px;
}
#article-0-picture, #article-1-picture, #article-2-picture, #article-3-picture, #article-4-picture{
	border: 5px solid #ffffff;
	width: 100%;
	box-shadow: 0px 0px 10px #fff;
	z-index: 0;
}
#article-0-wrap, #article-1-wrap, #article-2-wrap, #article-3-wrap, #article-4-wrap {
	border: 2px solid green;
	background-color: #FEF6EB;
	margin: 14px;
	padding: 10px;
	width: 95%;
	float: left;
}
#article-0-title, #article-1-title, #article-2-title, #article-3-title, #article-4-title {
	font-size: 1.75em;
	/*float: right;*/
	text-align: left;
	background-color: #525564;
	padding: 4px;
	z-index: 1;
}
.topics_feed {
	background-color: #96C0CE;
	width: 20%;
	float: right;
	padding: 10px;
	margin-right: 20px;
	margin-top: 20px;
}
h3 {
	text-align: center;
	color: #ffffff;
}
.topic-heading {
	background-color: #ffffff;
	padding: 4px;
}
.topic-article {
	background-color: #525564;
	font-style: italic;
}
#small_logo {
	/*border: 2px solid black;*/
	padding: 4px;
	box-shadow: 0px 0px 10px #fff;
	background-color: #ffffff;
	margin-left: 12%;
}
/*topics#show*/
.topic-category {
	border: 2px solid black;
	font-size: 2em;
	text-align: center;
}
.topic-articles-feed {
	width: 50%;
}
.topic-article-main {
	border: 2px solid pink;
}
.topics-photo {
	width: 40%;
	border: 4px solid green;
}
.topic-page-heading {
	color: #96C0CE;
}













