body {
	font-family: helvetica;
}
.body {
	background-color: #525564;
}
.blue_bold {
	font-weight: bold;
	color: #96C0CE;
	font-size: 1em;
}
.main_image {
	width: 100%;
	opacity: 0.8;
	position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}
#sign_in_header {
	height: 70px;
	background-color: #525564;
	padding-top: 6px;
}
#user {
	width: 95%;
}
#current_user_name {
	float: left;
	margin-top: 40px;
	font-size: 1.5em;
	background-color: rgba(244, 244, 244, 0.5);
}
.welcome {
	float: right;
	list-style-type: none;
	text-transform: uppercase;
}
#logo {
	margin-left: 10px;
	/*border: 2px solid black;*/
	width: 25%;
	padding-top: 7px;
}
header {
	background-color: #ffffff;
	height: 110px;
	background-color: rgba(244, 244, 244, 0.8);
}
nav {
	float: right;
	margin-right: 25px;
}
.topics_nav {
	border: 2px solid #ffffff;
	border-radius: 10px;
	float: right;
	list-style-type: none;
	text-transform: uppercase;
	margin: 8px;
	margin-top: 60px;
	font-size: 14px;
	letter-spacing: 0.15em;
	font-size: 1.1em;
	font-weight: bold;
	background-color: #525564;
	padding: 2px 6px;
}

a:link, a:visited { 
	color: #96C0CE;
	text-decoration: none;
}
a:hover {
	color: #525564;
}
.user_login, .user_logout {
	list-style-type: none;
	text-transform: uppercase;
	font-size: 0.9em;
	text-align: right;
}
#sign_in_form {
	background-color: #74828F;
	margin-top: 2px;
	border: 2px solid #525564;
	box-shadow: 0px 0px 10px #888888;
	color: #ffffff;
}
.body {
	/*background-color: #525564;*/
}
.container {
	background-color: #525564;
	margin-top: 35%;
	width: 100%;
}
.footer {
	clear: both;
	height: 100px;
	background-color: #96C0CE;
}
.form {
	text-align: right;
	padding: 4px;
}
/*subscribers#new*/
#join_today {
	width: 40%;
	float: left;
	margin-left: 5%;
	margin-top: 20px;
	padding: 10px;
	text-align: center;
	background-color: rgba(150, 192, 206, 0.5);
}
#join_title {
	background-color: rgba(255, 255, 255, 0.5);
}
.general_text {
	font-size: 0.6em;
}
#sign_up_form {
	border: 2px solid #525564;
	width: 20%;
	font-size: 1em;
	text-transform: uppercase;
	background-color: rgba(254, 246, 235, 0.8);
	color: #525564;
	float: left;
	padding: 25px 75px 25px 25px;
	box-shadow: 0px 0px 10px #888888;
	margin-left: 10%;
	margin-top: 5px;
	margin-bottom: 20px;
}
#sign_up_title {
	margin-top: 25px;
	float: right;
	margin-right: 26%;
	font-size: 1.5em;
	color: #ffffff;
}
.button {
	color: #C25B56;
}

/*artiles index*/

.main_article {
	background-color: #525564;
	float: left;
	width: 75%;
}
#article-0-picture, #article-1-picture, #article-2-picture, #article-3-picture, #article-4-picture{
	border: 5px solid #ffffff;
	width: 99%;
	box-shadow: 0px 0px 10px #fff;
	z-index: 0;
}
#article-0-wrap, #article-1-wrap, #article-2-wrap, #article-3-wrap, #article-4-wrap {
	/*border: 2px solid green;*/
	background-color: #ffffff;
	margin: 14px;
	padding: 10px;
	width: 95%;
	float: left;
}
#article-0-title, #article-1-title, #article-2-title, #article-3-title, #article-4-title {
	font-size: 1.75em;
	/*float: right;*/
	text-align: left;
	/*background-color: #525564;*/
	padding: 4px;
	z-index: 1;
}
.topics_feed {
	background-color: #C25B56;
	width: 20%;
	float: right;
	padding: 10px;
	margin-right: 20px;
	margin-top: 20px;
}
h3 {
	text-align: center;
	color: #ffffff;
}
.topic-heading {
	background-color: #ffffff;
	padding: 4px;
}
.topic-article {
	background-color: #525564;
	font-style: italic;
}
#small_logo {
	/*border: 2px solid black;*/
	padding: 4px;
	box-shadow: 0px 0px 10px #fff;
	background-color: #ffffff;
	margin-left: 12%;
	padding-top: 20px;
}
/*topics#show*/
.topic-category {
	font-size: 2em;
	text-align: center;
	color: #96C0CE;
}
.topic-articles-feed {
	width: 50%;
}
.topic-article-main {
	border: 2px solid pink;
}
.topics-photo {
	width: 40%;
	border: 4px solid green;
}
.topic-page-heading {
	font-size: 2em;
	text-align: center;
}
.topics_body {
	width: 1100px;
	margin: 0 auto;
}














